name: "lhci-autorun"
on: [push]
  # schedule:
  #   # 毎日 09:00 (UTC) に処理を実行する。
  #   - cron: '0 0 * * *'
jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: build
        run: echo "ビルドはありません。必要になったら追加してください"
      - name: Create .env file
      - shell: bash
        run: |
          touch .env
          echo UDEMY_URL=${{ secrets.UDEMY_URL }} >> .env
          echo UDEMY_USER_EMAIL=${{ secrets.UDEMY_USER_EMAIL }} >> .env
          echo UDEMY_USER_PASSWORD=${{ secrets.UDEMY_USER_PASSWORD }} >> .env
      - name: run Lighthouse CI
        run: |
          source .env
          npm install -g @lhci/cli@0.9.x puppeteer@13.5.1 puppeteer-core@13.3.2
          lhci autorun
        env:
          LIGHTHOUSE_BUILD_TOKEN: ${{ secrets.LIGHTHOUSE_BUILD_TOKEN }}
          LIGHTHOUSE_ADMIN_TOKEN: ${{ secrets.LIGHTHOUSE_ADMIN_TOKEN }}
